nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  form {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

article {
  padding: 20px;
  table td {
    cursor: pointer;
  }
}
