nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article {
  padding: 20px;
  table td {
    cursor: pointer;
  }
}

.mat-mdc-progress-spinner {
  z-index: 1000;
}
